################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pattern/.vs/Pattern
/Pattern/Pattern/bin/Debug/net5.0
/Pattern/Pattern/obj
